extends layout

append content
    h1 #{runner.name_first} #{runner.name_last} - #{runner.bib}
    h3 #{runner.race}
    p
        a(href="/runners/#{runner.bib}/update", class='btn btn-primary') Edit
    table.table
        tr
            td
                b Checkpoint
            td
                b Time
        each checkin in checkins
            tr
                td
                    #{checkin.checkpoint_id}
                td
                    #{checkin.checkin_time}
