extends layout

append content
    h1 Runners!

    table.table
        tr
            td
                b Runner
            td
                b Bib Number
            td
                b Register

        each runner in runners
            tr
                td
                    a(href="/runners/#{runner.bib}") #{runner.name_first} #{runner.name_last}
                td #{runner.bib}
                td 
                    form(action='/runners/#{runner.bib}/register', method='post')
                        if (runner.registered == 1)
                            input(type='submit', value='Unregister', class='btn btn-danger')
                        else
                            input(type='submit', value='Register', class='btn btn-primary')
